@font-face {
	font-family: 'Oswald';
	src: url('/src/shared/static/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Somic';
	src: url('/src/shared/static/fonts/NT Somic/01_NTSomic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Somic';
	src: url('/src/shared/static/fonts/NT Somic/02_NTSomic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Somic';
	src: url('/src/shared/static/fonts/NT Somic/03_NTSomic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
