{
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "useTabs": true,
    "endOfLine": "crlf",
    "bracketSameLine": true,
    "arrowParens": "avoid"
}
