.button {
	padding: 10px 30px;
	border: 2px solid transparent;
	border-radius: 30px;

	&.outlined {
		border: 2px solid var(--orange);
		color: var(--black);
	}

	&.fill {
		background-color: var(--orange);
		color: var(--black);
	}

	@media (hover: hover) {
		& {
			transition: all 0.2s ease;

			&.outlined:hover {
				border: 2px solid var(--green);
				background-color: var(--green);
				color: var(--black);
			}

			&.fill:hover {
				background-color: var(--green);
				color: var(--black);
			}
		}
	}
}
