.posts {
}

.section {
	max-width: $max-width + px;
	margin: 0 auto;
	padding: 60px 0;
}

.sectionTitle {
	@include adaptive-font(30, 50, $max-width, $min-width);
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.list {
}

.button {
	margin-top: 20px;
}
