.headerPadding {
	padding-top: 72px;
}

.header {
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--black-transparent);
	backdrop-filter: blur(3px);
}

.headerBody {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 60px;
	padding: 20px 0;
}

.container {
	position: relative;
	padding: 0 20px;
	max-width: $max-width + px;
	margin: 0 auto;
}

.headerLogo {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}

.headerLogoImg {
	width: 100%;
	height: 100%;
	max-width: 32px;
	max-height: 32px;
}

.headerLogoText {
	font-size: 30px;
	color: var(--white);
}

.headerBurger {
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 5;
	width: 35px;
	height: 20px;
	transform: translate(0, -50%);

	span {
		position: absolute;
		z-index: 1;
		display: block;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: var(--black);
		transition: all 0.3s ease;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 50%;
			transform: translate(0%, -50%);
		}

		&:last-child {
			bottom: 0;
		}
	}

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
}

.headerBurger.active {
	span {
		&:first-child {
			top: 50%;
			transform: rotate(-45deg);
		}

		&:last-child {
			top: 50%;
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			width: 0;
		}
	}
}

// Header sidebar
.headerCover {
	position: absolute;
	z-index: 2;
	display: block;
	top: 0;
	left: 100%;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	//background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	transition: all 0.4s ease;
}

.headerCover.active {
	opacity: 1;
	left: 0;
}

.headerSidebar {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 90px 0;
	grid-gap: 50px;
	transform: translate(100%, 0);
	transition: transform 0.3s ease;
	//background-color: var(--grey);
	background-color: rgba(255, 255, 255, 0.5);
	//background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(6px);
}

.headerSidebar.active {
	transform: translate(0, 0);
}

.headerSidebarTitle {
	text-align: center;
	font-size: 36px;
	color: var(--black);

	span {
		position: relative;
	}

	span:after {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		width: 70%;
		left: 50%;
		bottom: -9px;
		transform: translate(-50%, 0);
		height: 3px;
		background-color: var(--black);
		border-radius: 9px;
	}
}

.headerSidebarList {
	flex: 1 1 auto;
	min-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-gap: 40px;
}

.headerSidebarItem {
	text-align: center;
}

.headerSidebarItemLink {
	position: relative;
	display: inline-block;
	color: var(--orange);
	font-size: 30px;
	text-align: center;
	padding: 20px;
	transition: color 0.3s ease;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		height: 1px;
		width: 100%;
		background-color: var(--grey);
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--black);
		}
	}
}
